08.Hugo/1003/01.Hugo-Search문제해결/code/learn/themes/hugo-theme-docport-master/exampleSite/content/content-and-customization/00-adding-content/page-skwad/ex-checklist/webappsec/04_authz_AuthorizationRelatedWebVulnerabilities.md
